<div id="auth">

  <form action="/login" method="post">
    <input type="hidden" name="_method" value="put">
    <div class="field">
      <label class="label-for">E-mail:</label>
      <input type="text" name="email" placeholder="email">
    </div>

    <div class="field">
      <label class="label-for">Password:</label>
      <input type="password" name="password" placeholder="caps sensitive">
    </div>

    <input id="submit" type="submit" value="login">
  </form>

</div>
