<div id="signup">
  <form action="/signup" method="post">
    <div class="field">
      <label class="label-for">Full Name:</label>
      <input type="text" name="name" placeholder="What's your name?">
    </div>

    <div class="field">
      <label class="label-for">Password:</label>
      <input type="password" name="password_digest" placeholder="Shh..it's secret">
    </div>

    <div class="field">
      <label class="label-for">E-mail:</label>
      <input type="text" name="email" placeholder="Where can I contact you?">
    </div>
    <input type="submit" value="create">
  </form>
</div>
