<div id="new-hero">
  <form action="/superhero/new" method="post">
    Your name:
    <input name= "name" placeholder="NOT secret identity">
    <br>
    <br>
    Specialty:
    <input name= "specialty" placeholder="Must fill out">
    <br>
    <br>
    Bio:
    <textarea name= "bio" rows="10" cols="50" placeholder="Must fill out"></textarea>
    <input type="submit" value="Apply now">
  </form>
</div>
