<div class='hero-show'>
  <h1 class='hero-name'><%hero.name%></h1>
  <div id='hero-content'>
    <dl>
      <dt>Specialty: </dt>
      <dd><%= hero.specialty%>
        <dt>Bio: </dt>
        <dd><%= hero.bio%> </dd>
      </dl>
    </div>
  </div>

  <div id='rent-now'>
    <a href='/superhero/<%=hero.id%>/rent'>RENT ME</a>
  </div>