<form id='delete-form'  action='/user/<%=user.id%>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <select name='rentals'>
  <%rentals.each do |rental|%>
  <option value=<%=rental.id%>><%=rental.superhero.name%></option>
  <%end%>
  <input type='submit' value='Delete Post'>
</form>