<h1> Your Rentals </h1>

<div class='rentals'>
  <%rentals.each do |rental|%>
  <div class='rented'>
    <%=rental.superhero.name%> || <%=rental.reason%>
  <%if current_user == user %>
    <div class='edit-link'>  <a href="/user/<%=current_user.id%>/edit">Edit Rental</a> </div>||<div class='delete-link'> <a href="/user/<%=current_user.id%>/delete">Delete Rental</a>
    </div>
  <%end%>
  </div>
  <%end%>




</div>

  <div> <a href='/superhero/index'>Superhero Index</a>
  </div>