<div id='new-rental'>
  <form action="/superhero/<%=hero.id%>/rent" method='post'>
    <h2>Renting: <%hero.name%></h2>
    <h3> Reason for renting:</h3>
    <textarea name= 'reason' rows='10' cols='50' placeholder='Clean kitty litter. Assassinate nemesis. etc'></textarea>
    <input type='submit' value='create new post'>
  </form>
</div>
